body {
    background: #dfd3c3;
    font-family: 'Dosis', sans-serif;
    font-size: 1.4rem;
    color: #30475e;
    text-align: center;
}

a {
    color: #30475e;
}

h1 {
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 8rem;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #30475e;
}

h2 {
    font-family: 'Bebas Neue', cursive;
    font-size: 1.4rem;
}

header {
    text-align: center;
}

nav {
    font-family: 'Bebas Neue', cursive;
    background: #dfd3c3;
}

p {
    font-family: 'Dosis', sans-serif;
    font-size: 1.1rem;
    color: #30475e;
}

.socmedia {
    width: 20%;
    margin: auto;
    padding-top: 50px;
}

.bio {
    float: left;
    top: 60px;
    margin-bottom: 60px;

}

.bio-text {
    text-align: left;
}

.fab {
    margin: 0 5px 0 5px;
}

.biopics {
    width: 400px;
    height: 400px;
    margin-top: 80px;
    padding: 20px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #dfd3c3;
    text-align: center;
}

.navbar-text {
    padding-right: 30px;
}

.portsection {
    padding: 50px 25px 15px 55px;
}

.portimg1 {
    width: 441px;
    height: 296px;
}

.portimg2 {
    width: 419px;
    height: 278px;
}

.portimg3 {
    width: 442px;
    height: 291px;
}

.portimg4 {
    width: 442px;
    height: 296px;
    margin-bottom: 50px;
}

.contact-form {
    width: 60%;
    margin: auto;
}

.btn {
    background: #30475e;
}

.btn:hover {
    background-color: #7e8a97;
}

.btn:active {
    background-color: #7e8a97 !important;
}

a:hover {
    color: #7e8a97;
}