body {
    background: #dfd3c3;
    font-family: 'Dosis', sans-serif;
    font-size: 1.4rem;
    color: #30475e;
}

a {
    color: #30475e;
}

h1 {
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 8rem;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #30475e;
}

h2 {
    font-family: 'Bebas Neue', cursive;
    font-size: 1.4rem;
}

header {
    text-align: center;
}

nav {
    font-family: 'Bebas Neue', cursive;
    background: #dfd3c3;
}

p {
    font-family: 'Dosis', sans-serif;
    font-size: 1.1rem;
    color: #30475e;
}

.socmedia {
    width: 20%;
    margin: auto;
    padding-top: 50px;
}

.bio {
    float: left;
    top: 60px;
    margin-bottom: 60px;

}

.fab {
    margin: 0 5px 0 5px;
}

.biopics {
    width: 400px;
    height: 400px;
    margin-top: 80px;
    padding: 20px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #dfd3c3;
    text-align: center;
}

.navbar-text {
    padding-right: 30px;
}

a:hover {
    color: #7e8a97;
}