body {
    background: #556052;
    font-size: 1.4rem;
    color: #cbbcb1;
    text-align: center;
}

p a {
    text-decoration: underline;
}

a {
    text-decoration: none;
}

h1 {
    font-family: 'Libre Barcode 128 Text', cursive;
    font-size: 10rem;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #cbbcb1;
}

h2 {
    font-family: 'Libre Barcode 128 Text', cursive;
    font-size: 1.4rem;
}

header {
    text-align: center;
}

nav {
    font-family: 'Libre Barcode 128 Text', cursive;
    background: #dfd3c3;
}

p {
    font-family: 'Share Tech Mono', monospace;
    font-size: 1.1rem;
    color: #30475e;
}

#portfolio-box {
    margin-bottom: 125px;
}

#title-links {
    text-align: left;
    margin: 12% 0 0 10%;
    width: 16%;
}

.socmedia {
    width: 20%;
    margin: auto;
    padding-top: 50px;
}

.bio {
    float: left;
    top: 60px;
    margin-bottom: 60px;

}

.bio-text {
    text-align: left;
}

#contact-text {
    color: #c87941;
}

.biopics {
    width: 400px;
    height: 400px;
    margin-top: 80px;
    padding: 20px;
}

.fas {
    padding: 5px 0 0 5px;
    position: absolute;
    left: 0;
    right: 100%;
    text-align: left;
    color: #556052;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #dfd3c3;
    text-align: center;
}

.navbar-text {
    padding-right: 30px;
}

.portsection {
    padding: 50px 25px 15px 55px;
}

.portimg1 {
    width: 441px;
    height: 296px;
}

.portimg2 {
    width: 419px;
    height: 278px;
}

.portimg3 {
    width: 442px;
    height: 291px;
}

.portimg4 {
    width: 442px;
    height: 296px;
    margin-bottom: 150px;
}

.card {
    margin: 60px 0 30px 0;
    opacity: 20%;
    background: #3b5249;
    border: 5px solid #3b5249;
    color: #cbbcb1;
}

.card-title {
    font-family: 'Share Tech Mono', monospace;
    font-size: 1.4rem;
}

.bottom-card {
    margin-bottom: 150px;
}

.col-12 {
    margin-left: 60px;
}

.contact-form {
    width: 60%;
    margin: auto;
}

.btn {
    background: #30475e;
    font-family: 'Share Tech Mono', monospace;
}

.btn:hover {
    background-color: #cbbcb1;
}

.btn:active {
    background-color: #cbbcb1 !important;
}

a:hover {
    color: #cbbcb1;
    text-decoration: none;
}

.card:hover {
    opacity: 100%;
}

.home-link:hover {
    opacity: 50%;
}

.home-link {
    position: relative;
    width: 600px; 
    height: 100px; 
    background: linear-gradient(315deg, #556052 92%, #cbbcb1 92%);
    color: white;
    overflow: hidden;
  }